<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recover Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content>
    <ion-item lines="full">
      <p>Enter email to send password reset instructions.</p>
    </ion-item>
    <form [formGroup]="ionicForm" (ngSubmit)="resetPassword()" novalidate>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input
              formControlName="email"
              type="email"
              placeholder="your@email.com"
              required
            ></ion-input>
          </ion-item>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.email.errors?.required"
          >
            Email is required.
          </span>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.email.errors?.pattern"
          >
            Please provide valid email.
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            [disabled]="!ionicForm.value.email"
            type="submit"
            color="danger"
            expand="block"
          >
            Send Password Reset Mail
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
</ion-content>
