ion-item {
  --color: #000;
  margin: 10px 0;
}
ion-button {
}

ion-content {
  --background: #fff;
}

a {
  color: #000;
}

.title {
  text-align: center;
}

.note {
  margin: 20px 0;

  a {
    font-size: 20px;
    font-weight: bold;
  }
}
