<ion-header>
  <ion-toolbar>
    <ion-title> Login Page </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <form [formGroup]="ionicForm" (ngSubmit)="login()" novalidate>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size="12">
          <div padding>
            <ion-item lines="full">
              <ion-label position="floating">Email</ion-label>
              <ion-input
                formControlName="email"
                type="email"
                placeholder="your@email.com"
                required
              ></ion-input>
            </ion-item>
            <span
              class="error ion-padding"
              *ngIf="isSubmitted && errorControl.email.errors?.required"
            >
              Email is required.
            </span>
            <span
              class="error ion-padding"
              *ngIf="isSubmitted && errorControl.email.errors?.pattern"
            >
              Please provide valid email.
            </span>
            <ion-item lines="full">
              <ion-label position="floating">Password</ion-label>
              <ion-input
                formControlName="password"
                type="password"
                placeholder="Password"
                required
              ></ion-input>
            </ion-item>
            <!-- Error messages -->
            <span
              class="error ion-padding"
              *ngIf="isSubmitted && errorControl.email.errors?.required"
            >
              Password is required.
            </span>
            <span
              class="error ion-padding"
              *ngIf="isSubmitted && errorControl.email.errors?.minlength"
            >
              Password should be min 5 chars long.
            </span>
          </div>
          <div padding>
            <ion-button size="large" type="submit" expand="block"
              >Login</ion-button
            >
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <div class="note" text-center>
          If you don't have an account, please
          <a routerLink="/register"> register</a> first!
        </div>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            expand="block"
            color="warning"
            [routerLink]="['/password-reset']"
          >
            Password Reset
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
