.desc {
  margin-top: 10px;
  display: block;
  font-size: 18px;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

ion-list {
  background: none;
}

ion-item-sliding {
  margin: 20px 0;
}

ion-item {
  background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-header {
  display: flex;
  justify-content: space-between;

  ion-button {
    width: 100px;
    margin: 0 0 0 auto;
    padding-right: 20px;
  }
}
