<ion-header>
  <ion-toolbar>
    <ion-title> Home Page </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-button [routerLink]="['/register']" expand="block" color="primary"
          >Register</ion-button
        >
        <h2 class="already">Already a user?</h2>
        <ion-button [routerLink]="['/login']" expand="block" color="danger"
          >Sign In</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
