<ion-header>
  <ion-toolbar>
    <ion-title> Register Page </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ionicForm" (ngSubmit)="register()" novalidate>
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size="12">
          <div padding>
            <!-- <ion-item>
              <ion-input
                name="name"
                type="text"
                placeholder="Name"
                ngModel
                required
              ></ion-input>
            </ion-item> -->
            <ion-item lines="full">
              <ion-label position="floating">Email</ion-label>
              <ion-input
                formControlName="email"
                type="email"
                placeholder="your@email.com"
                required
              ></ion-input>
            </ion-item>
            <span
              class="error ion-padding"
              *ngIf="isSubmitted && errorControl.email.errors?.required"
            >
              Email is required.
            </span>
            <span
              class="error ion-padding"
              *ngIf="isSubmitted && errorControl.email.errors?.pattern"
            >
              Please provide valid email.
            </span>
            <ion-item lines="full">
              <ion-label position="floating">Password</ion-label>
              <ion-input
                formControlName="password"
                type="password"
                placeholder="Password"
                required
              ></ion-input>
            </ion-item>
            <!-- Error messages -->
            <span
              class="error ion-padding"
              *ngIf="isSubmitted && errorControl.email.errors?.required"
            >
              Password is required.
            </span>
            <span
              class="error ion-padding"
              *ngIf="isSubmitted && errorControl.email.errors?.minlength"
            >
              Password should be min 5 chars long.
            </span>
            <!-- <ion-item>
              <ion-input
                name="confirm"
                type="password"
                placeholder="Password again"
                ngModel
                required
              ></ion-input>
            </ion-item> -->
          </div>
          <div padding>
            <ion-button size="large" type="submit" expand="block"
              >Register</ion-button
            >
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
